<?xml version="1.0"  encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <!--<add name="BMConnectionString" connectionString="user id=PPOMSystem;password=dreamtech_2010;Database=BMSYSTEM;Server=218.202.132.162;min pool size=4;max pool size=4;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="BMConnectionStringLocal" connectionString="user id=sa;password=changda123;Database=BMSYSTEM;Server=changdachehang.nat123.net:36984;min pool size=4;max pool size=4;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="BMConnectionStringLocal" connectionString="user id=sa;password=dreamtech_1012_1;Database=BMSYSTEM;Server=10.14.4.167;min pool size=4;max pool size=4;" providerName="System.Data.SqlClient"/>-->
    <add name="BMConnectionStringLocal" connectionString="user id=sa;password=zcz;Database=BMSYSTEM;Server=(local);min pool size=4;max pool size=4;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
